<template>
  <section class="social-logo">
    <img src="~assets/fb-logo.png">
  </section>
</template>

<style>
  .social-logo {
    text-align: center;
  }
  .social-logo img {
    width: 150px;
    height: auto;
  }
</style>

