<template>
  <div>
    <div v-if="!loggedIn">
      <app-logo/>
    </div>
    <nuxt/>
  </div>
</template>

<script>
  import AppLogo from '~/components/AppLogo.vue';

  export default {
    components: {
      AppLogo
    },
    data () {
      return {loggedIn: this.$auth.loggedIn}
    }
  }
</script>

<style>
html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.button {
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
  padding: 10px 30px;
}

.button:hover {
  cursor: pointer;
}

.button--login {
  border: 1px solid #00af00;
  color: white;
  background-color: #00f000;
}

.button--login:hover {
  color: #fff;
  background-color: #00af00;
}

.button--logout {
  border: 1px solid red;
  background-color: #ff755d;
  color: white;
}

.button--logout:hover {
  color: #fff;
  background-color: #ff5c29;
}

.container {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>

