<template>
  <section class="container">
    <div>
      <div class="avatar">
        <img v-bind:src="avatarUrl">
      </div>
      <div>
        Nice to meet you, <span class="username">{{name}}</span>
      </div>
      <button class="button button--logout" @click="logout">Logout</button>
      <button class="button button--logout" @click="saveUser">Save to DB</button>
    </div>
  </section>
</template>

<script>

  export default {
    name: "index",
    head : {
      title : "Main Page"
    },
    defaultUrl : "https://forums.opera.com/assets/uploads/profile/192104-profileavatar.png",
    data () {
      if (this.$auth.loggedIn) {
        return {
          name: this.$auth.user.name,
          email: this.$auth.user.email,
          avatarUrl: this.$auth.user.picture.data.url || this.defaultUrl
        }
      }
    },
    methods: {
      logout () {
        this.$auth.logout().then(() => {
          this.$router.replace({ name: 'login' });
        }, (err) => {
          this.showNotification({message: err.message, type: 'error'});
        });
      },
      saveUser () {
        if (this.$auth.loggedIn) {
          this.$axios.$post('/api/users/save', {user: this.$auth.user}).then((response) => {
            let message = response.message;
            let type = response.type;
            this.showNotification({message: message, type: type});
          }, (err) => {
            this.showNotification({message: err.message, type: 'error'});
          });
        }
      }
    },
    notifications: {
      showNotification: { // You can have any name you want instead of 'showLoginError'
        title: 'Information',
        message: 'Message',
        type: 'info', // You also can use 'VueNotifications.types.error' instead of 'error'
        timeout: 2500
      }
    }
  }
</script>

<style>

.username {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 600;
  font-size: 2.5em;
  color: #35495e;
}

.avatar img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  border: #a0a0a0 solid 4px;
}
</style>

