<template>
  <section class="container">
    <div>
      <div>
        Welcome, GUEST!
      </div>
      <button class="button button--login" @click="login">Connect via facebook</button>
    </div>
  </section>
</template>

<script>
    export default {
      name: "login",
      head : {
        title : "Login"
      },
      data () {
        return {isLoggedIn : this.$auth.loggedIn}
      },
      methods: {
        login () {
          this.$auth.loginWith('facebook').then(() => {
            this.showNotification({message: "User logged in.", type: 'info'});
          }, (err) => {
            this.showNotification({message: err.message, type: 'error'});
          });
        }
      },
      notifications: {
        showNotification: { // You can have any name you want instead of 'showLoginError'
          title: 'Information',
          message: 'Message',
          type: 'info', // You also can use 'VueNotifications.types.error' instead of 'error'
          timeout: 2500
        }
      }
    }
</script>

<style scoped>
  .login {
    text-align: center;
  }
</style>
